.App {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.app-clock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
}

.app-alarms {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
}

.app-alarmButtons__snooze {
  color: white;
  background-color: green;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 10px;
  cursor: pointer;
}

.app-alarmButtons__stop {
  color: white;
  background-color: red;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 10px;
  cursor: pointer;
}
